CREATE VIEW dbo.VW_SAMS_CMS_DESEMP_SERV_INTERV_GR_DIV AS
SELECT 
	 C.DT_DATA
    ,C.NR_SKILL					
    ,C.NM_SKILL_NOME				
    ,C.NM_PILAR_NOME				
    ,C.NM_OPERACAO_NOME
    ,C.NM_CELULA_NOME 
    ,C.NM_SEGMENTO_NOME			
    ,C.NM_PROGRAMA_NOME			
    ,C.NR_HORARIO					
	,H.DEPARA
    ,SUM(C.NR_CHAMS_PERMS)				AS NR_CHAMS_PERMS
    ,SUM(C.NR_CHAMS_ATEND)				AS NR_CHAMS_ATEND
    ,SUM(C.VL_NIVEL_AT)					AS VL_NIVEL_AT		
    ,SUM(C.VL_FCL09_AT)					AS VL_FCL09_AT		
    ,SUM(C.VL_TMO_CMS)					AS VL_TMO_CMS			
    ,SUM(C.VL_TMO_SEG)					AS VL_TMO_SEG				
    ,SUM(C.VL_TME_CMS)					AS VL_TME_CMS				
    ,SUM(C.VL_TME_SEG)					AS VL_TME_SEG 			
    ,SUM(C.NR_ATEND_0_A_A2)				AS NR_ATEND_0_A_A2
    ,SUM(C.NR_ATEND_A2_A_A3)			AS NR_ATEND_A2_A_A3			
    ,SUM(C.NR_ATEND_A3_A_A5)			AS NR_ATEND_A3_A_A5
    ,SUM(C.NR_ATEND_MAIOR_A5)			AS NR_ATEND_MAIOR_A5
    ,SUM(C.NR_ABAN_0_A_A2)				AS NR_ABAN_0_A_A2
    ,SUM(C.NR_ABAN_MAIOR_A5)			AS NR_ABAN_MAIOR_A5
    ,SUM(C.NR_CHAMS_ABAND)				AS NR_CHAMS_ABAND
    ,SUM(C.NR_TEMPO_DAC_SEG)			AS NR_TEMPO_DAC_SEG
    ,SUM(C.NR_TEMPO_POS_AT_SEG)			AS NR_TEMPO_POS_AT_SEG
    ,SUM(C.NR_TEMPO_TOCANDO_SEG)		AS NR_TEMPO_TOCANDO_SEG
    ,SUM(C.NR_TEMPO_HOLD_SEG)			AS NR_TEMPO_HOLD_SEG
    ,SUM(C.NR_TRANS_EXT)				AS NR_TRANS_EXT
    ,SUM(C.NR_ATEND_MAIOR_A6)			AS NR_ATEND_MAIOR_A6
    ,SUM(C.NR_ABAN_MAIOR_A6)			AS NR_ABAN_MAIOR_A6  
    ,SUM(C.NR_TOTAL_ATEND_ATE_A1)		AS NR_TOTAL_ATEND_ATE_A1
    ,SUM(C.NR_TOTAL_ATEND_ATE_A2)		AS NR_TOTAL_ATEND_ATE_A2
    ,SUM(C.NR_TOTAL_ATEND_ATE_A3)		AS NR_TOTAL_ATEND_ATE_A3
    ,SUM(C.NR_TOTAL_ATEND_ATE_A4)		AS NR_TOTAL_ATEND_ATE_A4
    ,SUM(C.NR_TOTAL_ATEND_ATE_A5)		AS NR_TOTAL_ATEND_ATE_A5
    ,SUM(C.NR_TOTAL_ATEND_ATE_A6)		AS NR_TOTAL_ATEND_ATE_A6
    ,SUM(C.NR_TOTAL_ABAND_ATE_A1)		AS NR_TOTAL_ABAND_ATE_A1
    ,SUM(C.NR_TOTAL_ABAND_ATE_A2)		AS NR_TOTAL_ABAND_ATE_A2
    ,SUM(C.NR_TOTAL_ABAND_ATE_A3)		AS NR_TOTAL_ABAND_ATE_A3
    ,SUM(C.NR_TOTAL_ABAND_ATE_A4)		AS NR_TOTAL_ABAND_ATE_A4
    ,SUM(C.NR_TOTAL_ABAND_ATE_A5)		AS NR_TOTAL_ABAND_ATE_A5
    ,SUM(C.NR_TOTAL_ABAND_ATE_A6)		AS NR_TOTAL_ABAND_ATE_A6
    ,SUM(C.NR_CHAMS_RAMAL_SAIDA)		AS NR_CHAMS_RAMAL_SAIDA
    ,SUM(T.NR_Tempo_em_Servico_Seg)		AS NR_Tempo_em_Servico_Seg
    ,SUM(T.NR_Tempo_Livre_Seg)			AS NR_Tempo_Livre_Seg
    ,SUM(T.NR_Tempo_Outros_Seg)			AS NR_Tempo_Outros_Seg
    ,SUM(T.NR_Aux1_Seg)					AS NR_Aux1_Seg
    ,SUM(T.NR_Aux2_Seg)					AS NR_Aux2_Seg
    ,SUM(T.VL_PORCETUAL_Ocupacao)		AS VL_PORCETUAL_Ocupacao
    ,SUM(T.NR_Tempo_Pausa_Seg)			AS NR_Tempo_Pausa_Seg
    ,SUM(T.NR_Ativo_Indisponivel_Seg)	AS NR_Ativo_Indisponivel_Seg
    ,SUM(T.NR_Lanche_Seg)				AS NR_Lanche_Seg
    ,SUM(T.NR_Desanso_Seg)				AS NR_Desanso_Seg
    ,SUM(T.NR_Ambulatorio_Seg)			AS NR_Ambulatorio_Seg
    ,SUM(T.NR_Defeito_Seg)				AS NR_Defeito_Seg
    ,SUM(T.NR_Backoffice_Seg)			AS NR_Backoffice_Seg
    ,SUM(T.NR_Treinamento_Seg)			AS NR_Treinamento_Seg
    ,SUM(T.NR_Feedback_Seg)				AS NR_Feedback_Seg
    ,SUM(T.NR_Particular_Seg)			AS NR_Particular_Seg
    ,SUM(T.NR_Reuniao_Seg)				AS NR_Reuniao_Seg
    ,SUM(T.VL_Pas_Logadas)				AS VL_Pas_Logadas
    ,SUM(T.VL_PAs_Providas)				AS VL_PAs_Providas
FROM 
	DB_SAMSUNG.dbo.TB_SAMS_CMS_DESEMP_SERV_INTERV_GR_DIV_MIS_01 C
LEFT JOIN DB_SAMSUNG.dbo.TB_SAMS_CMS_DESEMP_SERV_INTERV_GR_DIV_MIS_02 T
		ON C.DT_DATA = T.DT_DATA 
		AND C.NR_SKILL = T.NR_SKILL 
		AND C.NR_HORARIO = T.NR_HORARIO
LEFT JOIN DB_DEPARA.dbo.TB_D_HORARIO H
		ON C.NR_HORARIO = H.Horario
WHERE 
	C.DT_DATA >= '2019-01-01'
-- AND	C.NM_OPERACAO_NOME = 'PHONE SUPORTE' 
GROUP BY
	 C.DT_DATA
    ,C.NR_SKILL					
    ,C.NM_SKILL_NOME				
    ,C.NM_PILAR_NOME				
    ,C.NM_OPERACAO_NOME
    ,C.NM_CELULA_NOME 
    ,C.NM_SEGMENTO_NOME			
    ,C.NM_PROGRAMA_NOME			
    ,C.NR_HORARIO					
	,H.DEPARA

	 
	 

